body {
  background-color: #000000;
  font-family: Consolas;
  font-size: 4vw;
  font-weight: 400;
  /* line-height: 17.56vw; */
  color: #efefef;
}
#app {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 5vw 2.5vw 2.5vw 2.5vw;
  overflow: hidden;
}

/* Медиа-запрос для экранов шире 900px */
@media (min-width: 900px) {
  body {
    font-size: 1.5vw;
  }

  .container {
    width: 30vw;
    padding: 3vw 1vw 1vw;
  }
}
